@import "variables";

/*App*/
body {
  font-family: var(--theme-font);
  font-size: var(--theme-size);
  background-color: var(--magnolia);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
/*App*/

/*FormMain*/
#app .form-content {
  display: flex;
  gap: 20px;
  background-color: var(--white);
  border-radius: 15px;
  padding: 20px;
}

#app .form-content .content {
  width: 563px;
  height: 544px;
}
/*FormMain*/

/*ProgressBar*/
#app .form-content .progress-bar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-image: url(../image/bg-sidebar-desktop.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 30px;
}
  
#app .form-content .progress-bar .steps {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 15px;
}
  
#app .form-content .progress-bar .steps.active {
  color: var(--white);
}

#app .form-content .progress-bar .steps .step-headline {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
}

#app .form-content .progress-bar .steps .step-headline .step-label {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--cool-gray);
}

#app .form-content .progress-bar .steps .step-headline .step-title {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--white);
  font-weight: bold;
  letter-spacing: 2px;
}

#app .form-content .progress-bar .steps .step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--white);
  background-color: transparent;
  color: var(--white);
  font-weight: bold;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

#app .form-content .progress-bar .steps.active .step-number {
  border: solid 1px var(--light-blue);
  background-color: var(--light-blue);
  color: var(--marine-blue);
}
/*ProgressBar*/

/*YourInfo*/
.your-info {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.your-info .headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 45px;
}

.your-info .headline span {
  color: var(--marine-blue);
  font-weight: bold;
  font-size: 30px;
}

.your-info .headline p {
  color: var(--cool-gray);
  font-weight: 400;
  margin: 0;
}

.your-info form .input-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}

.your-info form .input-content .title-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.your-info form .input-content .title-area label {
  color: var(--marine-blue);
  font-weight: 500;
}

.your-info form .input-content .title-area .error-message {
  color: var(--strawberry-red);
  font-weight: bold;
}

.your-info form .input-content input {
  padding: 12px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  color: var(--marine-blue);
  font-weight: bold;
}

.your-info form .input-content input:focus {
  border-color: var(--purplish-blue);
}

.your-info form .input-content input::placeholder {
  color: var(--marine-blue);
}

.your-info form .input-content .is-invalid {
  border: 1px solid var(--strawberry-red);
}

.your-info form .button-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 70px;
}

.your-info form .button-area button.next-button {
  padding: 14px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: var(--purplish-blue);
  color: var(--white);
}

.your-info form .button-area button.next-button:hover {
  background-color: var(--marine-blue);
  cursor: pointer;
}

.your-info form .button-area button.next-button:disabled {
  background-color: var(--light-gray);
  cursor: not-allowed;
}
/*YourInfo*/

/*SelectPlan*/
.select-plan {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.select-plan .headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 45px;
}

.select-plan .headline span {
  color: var(--marine-blue);
  font-weight: bold;
  font-size: 30px;
}

.select-plan .headline p {
  color: var(--cool-gray);
  font-weight: 400;
  margin: 0;
}

.select-plan .plan-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  gap: 20px;
}

.select-plan .button-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-plan .button-area button.next-button {
  padding: 14px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: var(--purplish-blue);
  color: var(--white);
}

.select-plan .button-area button.next-button:hover {
  background-color: var(--marine-blue);
  cursor: pointer;
}

.select-plan .button-area button.next-button:disabled {
  background-color: var(--light-gray);
  cursor: not-allowed;
}

.select-plan .button-area button.back-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--cool-gray);
}

.select-plan .button-area button.back-button:hover {
  cursor: pointer;
  color: var(--marine-blue);
}

.select-plan .plan-options .arcade-plan:before {
  content: url('../image/icon-arcade.svg');
}

.select-plan .plan-options .advanced-plan:before {
  content: url('../image/icon-advanced.svg');
}

.select-plan .plan-options .pro-plan:before {
  content: url('../image/icon-pro.svg');
}

.select-plan .plan-options .plan-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
  gap: 30px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  padding: 20px 15px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 102px;
}

.select-plan .plan-options .plan-content div span {
  margin: 0;
  font-weight: bold;
  color: var(--marine-blue)
}

.select-plan .plan-options .plan-content div p {
  margin: 0;
  padding-top: 5px;
  font-weight: 500;
  color: var(--cool-gray);
}

.select-plan .plan-options .plan-content:hover::before,
.select-plan .plan-options .plan-content input:checked::before,
.select-plan .plan-options .plan-content input:focus::before {
  border-color: var(--purplish-blue);
  border-radius: 10px;
}

.select-plan .plan-options .plan-content:hover {
  border-color: var(--purplish-blue);
}

.select-plan .plan-options .plan-content.selected {
  border-color: var(--purplish-blue);
  background-color: var(--alabaster);
}

.select-plan .billing-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
  margin-bottom: 93px;
  padding: 10px;
  background-color: var(--alabaster);
  border-radius: 10px;
}

.select-plan .billing-toggle .switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.select-plan .billing-toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.select-plan .billing-toggle .time-text {
  font-weight: bold;
  color: var(--cool-gray);
}

.select-plan .billing-toggle .time-text.active {
  color: var(--marine-blue);
}

.select-plan .billing-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--marine-blue);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.select-plan .billing-toggle .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.select-plan .billing-toggle input:checked + .slider {
  background-color: var(--marine-blue);
}

.select-plan .billing-toggle input:focus + .slider {
  box-shadow: 0 0 1px var(--marine-blue);
}

.select-plan .billing-toggle  input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.select-plan .billing-toggle .slider.round {
  border-radius: 34px;
}

.select-plan .billing-toggle .slider.round:before {
  border-radius: 50%;
}

.select-plan .plan-options .plan-content div .plan-description {
  font-size: 12px;
  color: var(--marine-blue);
  font-weight: bold;
}
/*SelectPlan*/

/*AddOns*/
.add-ons {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.add-ons .headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 45px;
}

.add-ons .headline span {
  color: var(--marine-blue);
  font-weight: bold;
  font-size: 30px;
}

.add-ons .headline p {
  color: var(--cool-gray);
  font-weight: 400;
  margin: 0;
}

.add-ons .button-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-ons .button-area button.next-button {
  padding: 14px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: var(--purplish-blue);
  color: var(--white);
}

.add-ons .button-area button.next-button:hover {
  background-color: var(--marine-blue);
  cursor: pointer;
}

.add-ons .button-area button.next-button:disabled {
  background-color: var(--light-gray);
  cursor: not-allowed;
}

.add-ons .button-area button.back-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--cool-gray);
}

.add-ons .button-area button.back-button:hover {
  cursor: pointer;
  color: var(--marine-blue);
}

.add-ons .addon-options {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}

.add-ons .addon-options .addon-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  padding: 20px;
  position: relative;
  cursor: pointer;
}

.add-ons .addon-options .addon-content:hover {
  border-color: var(--purplish-blue);
}

.add-ons .addon-options .addon-content.selected-addon {
  border-color: var(--purplish-blue);
  background-color: var(--alabaster);
}

.add-ons .addon-options .addon-content .area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.add-ons .addon-options .addon-content .area .description label {
  cursor: pointer;
  font-weight: bold;
  color: var(--marine-blue);
}

.add-ons .addon-options .addon-content .area .description p {
  margin: 0;
  padding-top: 5px;
  font-weight: 500;
  color: var(--cool-gray);
}

.add-ons .addon-options .addon-content .area input {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.add-ons .addon-options .addon-content .price {
  margin: 0;
  color: var(--purplish-blue);
  font-weight: 500;
}
/*AddOns*/

/*Summary*/
.summary {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 440px;
}

.summary .headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 45px;
}

.summary .headline span {
  color: var(--marine-blue);
  font-weight: bold;
  font-size: 30px;
}

.summary .headline p {
  color: var(--cool-gray);
  font-weight: 400;
  margin: 0;
}

.summary .button-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.summary .button-area button.next-button {
  padding: 14px 27px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: var(--purplish-blue);
  color: var(--white);
}

.summary .button-area button.next-button:hover {
  background-color: var(--marine-blue);
  cursor: pointer;
}

.summary .button-area button.next-button:disabled {
  background-color: var(--light-gray);
  cursor: not-allowed;
}

.summary .button-area button.back-button {
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: var(--cool-gray);
}

.summary .button-area button.back-button:hover {
  cursor: pointer;
  color: var(--marine-blue);
}

.summary .price-content {
  background-color: var(--alabaster);
  border-radius: 10px;
  padding: 20px;
}

.summary .price-content .addons-content {
  min-height: 84px;
}

.summary .price-content .plan-content  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px var(--light-gray);
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.summary .price-content .addons-content ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  padding: 0;
}

.summary .price-content .addons-content ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary .price-content .addons-content ul li .addon-name {
  color: var(--cool-gray);
  font-weight: 500;
}

.summary .price-content .addons-content ul li .addon-price {
  color: var(--marine-blue);
  font-weight: 500;
}

.summary .total-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.summary .total-content .title {
  color: var(--cool-gray);
  font-weight: 500;
}

.summary .total-content .price {
  color: var(--purplish-blue);
  font-weight: bold;
  font-size: 20px;
}

.summary .price-content .plan-content .plan-price span {
  color: var(--marine-blue);
  font-weight: bold;
  font-size: 18px;
}

.summary .price-content .plan-content .plan-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.summary .price-content .plan-content .plan-name div {
  color: var(--marine-blue);
  font-weight: bold;
  font-size: 18px;
}

.summary .price-content .plan-content .plan-name div span {
  text-transform: capitalize;
}

.summary .price-content .plan-content .plan-name button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--purplish-blue);
}

.summary .price-content .plan-content .plan-name button:hover {
  text-decoration: underline;
}
/*Summary*/

/*Completed*/
.completed {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
}

.completed .complete-content .headline::before {
  content: url(/src/assets/image/icon-thank-you.svg);
}

.completed .complete-content .headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-weight: bold;
  font-size: 35px;
  color: var(--marine-blue);
}

.completed .complete-content .text {
  color: var(--cool-gray);
  line-height: 1.5;
  text-align: center;
  margin-top: 15px;
}

.completed .button-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.completed .button-area .completed-button {
  padding: 14px 27px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: var(--purplish-blue);
  color: var(--white);
}

.completed .button-area .completed-button:hover {
  background-color: var(--marine-blue);
  cursor: pointer;
}
/*Completed*/

@media (max-width: 575px) { 
/*FormMain*/
  body {
    margin: 0;
    background-color: var(--magnolia);
  }

  #app {
    align-items: flex-start;
  }

  #app .form-content {
    flex-direction: column;
    padding: 0;
    position: relative;
    height: calc(95vh - 30px);
    background-color: transparent;
  }

  #app .form-content .content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
  }
/*FormMain*/

/*ProgressBar*/
  #app .form-content .progress-bar {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-image: url(../image/bg-sidebar-mobile.svg);
    background-size: cover;
    border-radius: 0px;
    padding: 70px;
  }

  #app .form-content .progress-bar .steps .step-headline {
    display: none;
  }
/*ProgressBar*/

/*YourInfo*/
.your-info {
  background-color: var(--white);
  border-radius: 10px;
  padding: 25px;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}/**/

.your-info .headline {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 45px;
}

.your-info .headline span {
  color: var(--marine-blue);
  font-weight: bold;
  font-size: 30px;
}

.your-info .headline p {
  color: var(--cool-gray);
  font-weight: 400;
  margin: 0;
}

.your-info form .input-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 25px;
}

.your-info form .input-content .title-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.your-info form .input-content .title-area label {
  color: var(--marine-blue);
  font-weight: 500;
}

.your-info form .input-content .title-area .error-message {
  color: var(--strawberry-red);
  font-weight: bold;
}

.your-info form .input-content input {
  padding: 12px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
  color: var(--marine-blue);
  font-weight: bold;
}

.your-info form .input-content input:focus {
  border-color: var(--purplish-blue);
}

.your-info form .input-content input::placeholder {
  color: var(--marine-blue);
}

.your-info form .input-content .is-invalid {
  border: 1px solid var(--strawberry-red);
}

.your-info form .button-area {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  box-sizing: border-box;
  background-color: var(--white);
  width: 100%;
}/**/

.your-info form .button-area button.next-button {
  padding: 14px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  background-color: var(--purplish-blue);
  color: var(--white);
}

.your-info form .button-area button.next-button:hover {
  background-color: var(--marine-blue);
  cursor: pointer;
}

.your-info form .button-area button.next-button:disabled {
  background-color: var(--light-gray);
  cursor: not-allowed;
}
/*YourInfo*/
}
























